*{
    box-sizing: border-box;
    padding: 10px;
}
.main{
    background: gray;
    height: auto;
    width: auto;
}
.red{
    background: red;
    margin: 0 auto;
    width: 1200px;
    min-height: 900px;
    display: flex;
    flex-direction: column;

}
.green{
    background: green;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.green *{
    flex-grow: 1;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
.purple{
    background: purple;
}
.flex-grow-2{
    display: flex;
    flex-grow: 2;
}
.order-1{
    order: -1;
}
.gap-10{
    gap: 10px;
}
.green>* :hover{

    transform: scale(0.9);
    transition: 1s;
}

@media (min-width: 992px) {

}
@media (max-width: 991px) {
    .red-mobile{
        width: auto;
    }
    .green-1-mobile{
        display: flex;
        flex-direction: column;
    }
     .green-2-mobile{
         display: flex;
         flex-wrap: wrap;

    }
     .min-width-250{
         min-width: 250px;
     }
     .green-3-mobile{
         display: flex;
         flex-direction: column;

    }
     .mobile-order-1{
         order: -1;
     }
     .mobile-grow-3{
         flex-grow: 3;
     }


}